 /* body  {
    padding: 50px 300px;
    font-family: Merriweather;
}  */
.for-body{
    padding: 50px 300px;
    font-family: Merriweather;
}
/* Shared css*/
.gif-section-img {
    width: 413px;
    height: 450px;
    border-radius: 16px;
    gap: 5px;
    margin-right: 13px;
    padding-top: 16px;
}

.header-section {
    background-image: url("../assets/image/Banner Image.png");
    background-position: center center;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background-repeat: no-repeat;
}

.banner {
    display: block;
    padding: 100px 250px;
}

.banner-greeting {
    color: rgb(255, 1, 1);
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0px;
}

.banner-des {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 5px;
}

.discount {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0px;
    font-family: Inter;
}

.discount-text {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: Inter;
}

.discount-categories {
    color: rgb(7, 2, 17);
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: Inter;
}

.new-year-image {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    padding: 50px 300px;
}

.midnight {
    background-image: url("../assets/image/Vectorrr.png");
    width: 1320px;
    height: 600px;
}

.midnight {
    display: flex;
    justify-content: space-between;
}

.midnight-title {
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 900;
    width: 642px;
    margin: 120px 0px 0px 120px;
}

.midnight-para {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 600px;
    height: 60px;
    margin: 18px 0px 0px 120px;
}

button.entry-btn {
    margin: 34px 1px 0px 144px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    border: honeydew;
    width: 120px;
}

.party-image2024 {
    width: 319.83px;
    height: 464.662px;
    padding: 68px 138px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.location-container {
    background-image: url("../assets/image/Vectorlll.png");
    width: 1320px;
    height: 482px;
    margin-top: 65px;
}

.location-info {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 56px;
    padding: 150px 350px;
}

.location-place {
    margin-bottom: -35px;
    text-align: center;
}

.location-date {
    margin-bottom: -35px;
    text-align: center;
}

.location-time {
    margin-bottom: -35px;
    text-align: center;
}

.color-change-r {
    color: rgb(255, 0, 0);
}

.btn-po {
    border-radius: 8px;
    background: rgb(255, 0, 0);
    margin: 45px 265px 0px 238px;
}

.join-btn {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}

.offer-container {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.offer-title {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}

.offer-info {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 0px;
}

.offer-des {
    width: 393px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 12px;
}

.offer-collumn-2 {
    border-radius: 463px;
    border: 15px solid rgb(255, 0, 0);
    width: 463px;
    height: 463px;
    flex-shrink: 0;
}

.offer-img {
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
    border-radius: 364.844px;
    background-image: url("../assets/image/Ellipse 2.png");
    background-repeat: no-repeat;
    padding: 49px;
}

.offer-year {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.offer-des-2 {
    width: 276px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.HNY-cleb {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}

.holiday-section {
    margin-top: 120px;
}

.holyday-text {
    margin: 0px 0px 60px 0px;
}

.holiday-title {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
    text-align: center;
}

.holyday-sale {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 0px;
}

.holyday-des {
    width: 1068px;
    color: rgba(7, 2, 17, 0.6);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    height: 96px;
    margin: 15px 20px 15px 100px;
}

img.img-rec-1 {
    height: 413px;
    width: 400px;
    margin: -38px 0px 0px -102px;
}

img.img-grp-75 {
    height: 470px;
    width: auto;
    padding: 67px 33px;
}

.holiday-imagescomplex {
    display: flex;
    justify-content: space-between;
    background-image: url("../assets/image/Rectangle 2.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    border-radius: 16px;
}

img.img-grp-44 {
    width: 206.841px;
    height: 206.841px;
    padding: 0px 0px 0px 134px;
}

img.img-grp-44 {
    width: 206.841px;
    height: 206.841px;
    padding: 109px 0px 0px 789px;
    position: absolute;
    display: block;
}

.gift-section {
    margin-top: 65px;
}

h4.gift-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}

h2.gift-info {
    margin-top: 17px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;


}

h2.gift-info {
    margin-top: 17px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 0px;
    margin-top: 5px;
}

p.gift-des {
    width: 896px;
    height: 65px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

    margin-top: 15px;
    margin-bottom: 21px;

    margin-left: 0px;
}

.subs-info{
    width: 896px;
    height: 65px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 15px;
    margin-bottom: 21px;
    margin-left: 203px;
    /* text-align: center; */
}
input.subs-text-bloxk {
    width: 648px;
    height: 68px;
    border: 1px solid black;
 
    border-bottom-left-radius: 36px;
    border-top-left-radius: 36px;
    margin: 17px 0px 67px 0px;
}

button.subs-button {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    border: none;
    margin-top: 17px;
}

.text-subsbtn {
    display: flex;

    justify-content: center;
}

.subs-newsletter {
    text-align: center;
    background-image: url("../assets/image/Rectangle\ 11.png");
    margin-top: 40px;
    border-radius: 15px;
}


img.message-img {
    width: 150px;
    height: 150px;
    padding-top: 39px;
    margin-bottom: 0px;
}

h2.subs-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;

    font-weight: 900;
    line-height: normal;

    margin-top: 24px;
    margin-bottom: 0px;
}

::placeholder {
    color: rgba(7, 2, 17, 0.30);
    padding-left: 50px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer {
    background-image: url("../assets/image/Rectangle\ 10.png");

    width: 100%;
    height: 500px;
    margin-top: 62px;
}

.address {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
/* body  {
    padding: 50px 300px;
    font-family: Merriweather;
}  */
.for-body{
    padding: 50px 300px;
    font-family: Merriweather;
}
/* Shared css*/
.gif-section-img {
    width: 413px;
    height: 450px;
    border-radius: 16px;
    gap: 5px;
    margin-right: 13px;
    padding-top: 16px;
}

.header-section {
    background-image: url("../assets/image/Banner Image.png");
    background-position: center center;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background-repeat: no-repeat;
}

.banner {
    display: block;
    padding: 100px 250px;
}

.banner-greeting {
    color: rgb(255, 1, 1);
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0px;
}

.banner-des {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 5px;
}

.discount {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0px;
    font-family: Inter;
}

.discount-text {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: Inter;
}

.discount-categories {
    color: rgb(7, 2, 17);
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: Inter;
}

.new-year-image {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    padding: 50px 300px;
}

.midnight {
    background-image: url("../assets/image/Vectorrr.png");
    width: 1320px;
    height: 600px;
}

.midnight {
    display: flex;
    justify-content: space-between;
}

.midnight-title {
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 900;
    width: 642px;
    margin: 120px 0px 0px 120px;
}

.midnight-para {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 600px;
    height: 60px;
    margin: 18px 0px 0px 120px;
}
    button.entry-btn {
    margin: 34px 1px 0px 144px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    border: honeydew;
    width: 120px;
}

.party-image2024 {
    width: 319.83px;
    height: 464.662px;
    padding: 68px 138px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.location-container {
    background-image: url("../assets/image/Vectorlll.png");
    width: 1320px;
    height: 482px;
    margin-top: 65px;
}

.location-info {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 56px;
    padding: 150px 350px;
}

.location-place {
    margin-bottom: -35px;
    text-align: center;
}

.location-date {
    margin-bottom: -35px;
    text-align: center;
}

.location-time {
    margin-bottom: -35px;
    text-align: center;
}

.color-change-r {
    color: rgb(255, 0, 0);
}

.btn-po {
    border-radius: 8px;
    background: rgb(255, 0, 0);
    margin: 45px 265px 0px 238px;
}

.join-btn {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}

.offer-container {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.offer-title {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}

.offer-info {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 0px;
}

.offer-des {
    width: 393px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 12px;
}

.offer-collumn-2 {
    border-radius: 463px;
    border: 15px solid rgb(255, 0, 0);
    width: 463px;
    height: 463px;
    flex-shrink: 0;
}

.offer-img {
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
    border-radius: 364.844px;
    background-image: url("../assets/image/Ellipse 2.png");
    background-repeat: no-repeat;
    padding: 49px;
}

.offer-year {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.offer-des-2 {
    width: 276px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.HNY-cleb {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}

.holiday-section {
    margin-top: 120px;
}

.holyday-text {
    margin: 0px 0px 60px 0px;
}

.holiday-title {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
    text-align: center;
}

.holyday-sale {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 0px;
}

.holyday-des {
    width: 1068px;
    color: rgba(7, 2, 17, 0.6);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    height: 96px;
    margin: 15px 20px 15px 100px;
}
    img.img-rec-1 {
    height: 413px;
    width: 400px;
    margin: -38px 0px 0px -102px;
}
    img.img-grp-75 {
    height: 470px;
    width: auto;
    padding: 67px 33px;
}

.holiday-imagescomplex {
    display: flex;
    justify-content: space-between;
    background-image: url("../assets/image/Rectangle 2.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    border-radius: 16px;
}
    img.img-grp-44 {
    width: 206.841px;
    height: 206.841px;
    padding: 0px 0px 0px 134px;
}
    img.img-grp-44 {
    width: 206.841px;
    height: 206.841px;
    padding: 109px 0px 0px 789px;
    position: absolute;
    display: block;
}

.gift-section {
    margin-top: 65px;
}
    h4.gift-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}
    h2.gift-info {
    margin-top: 17px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;


}
    h2.gift-info {
    margin-top: 17px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 0px;
    margin-top: 5px;
}
    p.gift-des {
    width: 896px;
    height: 65px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 15px;
    margin-bottom: 21px;
    margin-left: 0px;
}

.subs-info{
    width: 896px;
    height: 65px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 15px;
    margin-bottom: 21px;
    margin-left: 203px;
    /* text-align: center; */
}
    input.subs-text-bloxk {
    width: 648px;
    height: 68px;
    border: 1px solid black;
    border-bottom-left-radius: 36px;
    border-top-left-radius: 36px;
    margin: 17px 0px 67px 0px;
}
    button.subs-button {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    border: none;
    margin-top: 17px;
}

.text-subsbtn {
    display: flex;
    justify-content: center;
}

.subs-newsletter {
    text-align: center;
    background-image: url("../assets/image/Rectangle\ 11.png");
    margin-top: 40px;
    border-radius: 15px;
}
    img.message-img {
    width: 150px;
    height: 150px;
    padding-top: 39px;
    margin-bottom: 0px;
}
    h2.subs-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    margin-top: 24px;
    margin-bottom: 0px;
}

;
    width: 375px;
    placeholder {
    color: rgba(7, 2, 17, 0.30);
    padding-left: 50px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer {
    background-image: url("../assets/image/Rectangle\ 10.png");
    width: 100%;
    height: 500px;
    margin-top: 62px;
}

.address {
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.phone {
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 0px;
}

.website {
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    text-decoration: none;
}

.contact-div {
    display: flex;
    justify-content: space-between;
    display: flex;
    width: 93%;
}

.contact-address {
    margin: 50px 13px 35px 80px;
}

.contact-connection {
    margin: 50px 3px 0px 475px;
} */



 .social-icons-div {
    display:flex;
    margin: 50px 0px 0px 0px;
} 

.icon-shape {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    margin-right: 20px;
  
}
.social-icons-div {
    text-align: center;
    border: 1px solid #FFFFFF26;
    padding: 29px 0px;
    width: 87%;
    height: 71px;
    margin-left: 78px;
    border-left: none;
    border-right: none;
}
    h4.copy-right {
    color: wheat;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.rights {
    display: flex;
    justify-content: space-between;
    width: 87%;
    margin: 41px 78px;
}
.footer-inner-size {
    width: 1320px;
    height: auto;
    padding: 0px 223px;
}
    button.Unsubscribe {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    background: transparent;
    border: none;
};
    height: 80px;
}

.phone {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 0px;
}

.website {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    text-decoration: none;
}

.contact-div {
    display: flex;
    justify-content: space-between;
    display: flex;
    width: 97%;
}

.contact-address {
    margin: 50px 13px 35px 80px;
}

.contact-connection {
    margin: 50px 3px 0px 475px;
} */



 .social-icons-div {
    display:flex;
    margin: 50px 0px 0px 0px ;
} 

.icon-shape {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    margin-right: 20px;
  
}
.social-icons-div {
    text-align: center;
    border: 1px solid #FFFFFF26;
    padding: 29px 0px;
    width: 91%;
    height: 71px;
    margin-left: 78px;
    border-left: none;
    border-right: none;
}
h4.copy-right {
    color: wheat;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.rights {
    display: flex;
    justify-content: space-between;
    width: 91%;
    margin: 41px 78px;
}
.footer-inner-size {
    width: 1320px;
    height: auto;
    padding: 0px 223px;
}


button.Unsubscribe {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    background: transparent;
    border: none;
}
i.fa-solid.fa-phone-volume {
    font-size: 20px;
    padding-right: 23px;
}

i.fa-solid.fa-globe {
    padding-right: 15px;
}